{% load i18n static admin_material %}

  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="" target="_blank">
        <img src="{% static 'img/logo-ct.png' %}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">p2pMax</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">

      {% admin_get_menu as app_list %}
      {% if app_list %}
          {% for app in app_list %}
              {% if app.has_perms and not app.pinned %}
                <li class="nav-item">
                  <span class="nav-link{% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %} text-white" data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}">
                    <span class="d-flex justify-content-between align-items-center">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <span class="sidebar-icon {{ app.icon }}"></span>
                      </div>
                      <a href="{{ app.url }}">
                        <span class="nav-link-text ms-1 text-white">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                      </a>
                    </span>
                  </span>

                  {% if app.models %}
                    <div class="multi-level ms-5 collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" role="list" id="submenu-{{ app.app_label }}"                                                                                                       aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                      <ul class="flex-column nav">
                        {% for model in app.models %}
                          {% if model.url %}
                            <li class="nav-item{% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %} list-unstyled">
                              <a class="nav-link" href="{{ model.url }}">
                                <span class="nav-link-text ms-1">{{ model.label }}</span>
                              </a>
                            </li>
                          {% else %}
                            <li class="nav-item list-unstyled">{{ model.label }}</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </li>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% if request.user.role == 'admin' %}
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">ADMIN</h6>
        </li>
        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link text-white {% if 'index' in segment %} active {% endif %}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <span class="nav-link-text ms-1">{% trans 'Dashboard' %}</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'support_tickets' in segment %} active {% endif %} " href="{% url 'support_tickets' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">support</i>
            </div>
            <span class="nav-link-text ms-1">Support Tickets</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'system_settings' in segment %} active {% endif %} " href="{% url 'system_settings' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">settings</i>
            </div>
            <span class="nav-link-text ms-1">System Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'announcements' in segment %} active {% endif %} " href="{% url 'announcements' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">announcement</i>
            </div>
            <span class="nav-link-text ms-1">Announcements</span>
          </a>
        </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link text-white {% if 'index' in segment %} active {% endif %}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">{% trans 'Dashboard' %}</span>
        </a>
      </li>
      {% endif %}

        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Settings</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'profile' in segment %} active {% endif %} " href="{% url 'user_profile' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'api_management' in segment %} active {% endif %} " href="{% url 'api_management' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">api</i>
            </div>
            <span class="nav-link-text ms-1">API Management</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>